@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

html{
	height: 100%;
}

body{
	background-image: url(../img/background.png);
	height: 100%;
	margin: 0;
	padding: 0;
}

#flower{
	position: absolute;
	height: 483px;
	width: 100%;
    background: url(../img/shutterflower.png) center 40px no-repeat;
}
#blim{
	position: absolute;
	height: 100px;
	width: 100px;
	background: red;
	top: 200px;
	left: 50%;
    margin-left: -50px;

    -webkit-animation-name: blim;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-name: blim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blim {
    0%   {background-color:#17171C;}
    40%   {background-color:#17171C;}
    60%   {background-color:#44D3FF; /*blue*/ }
    85%  {background-color:#44D3FF; /*blue*/ }
    100% {background-color:#17171C;}
}

@keyframes blim {
    0%   {background-color:#17171C;}
    40%   {background-color:#17171C;}
    60%   {background-color:#44D3FF; /*blue*/ }
    85%  {background-color:#44D3FF; /*blue*/ }
    100% {background-color:#17171C;}
}

#bodient{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* http://colorzilla.com/gradient-editor/#353b42+0,23262b+100&0+0,1+100 */
	background: -webkit-linear-gradient(top,  rgba(32, 33, 40, 0) 50%, #090909 100%);
	  background: linear-gradient(to bottom,  rgba(32, 33, 40, 0) 50%, #090909 100%);
	   background: -moz-linear-gradient(top,  rgba(32, 33, 40, 0) 50%, #090909 100%);
}
#wrapTests{
	position: relative;
	font-family: 'Luckiest Guy', cursive;
	font-size: 20px;
	/* height: 100%; */
	max-width: 980px;
	margin: 0 auto;
    box-shadow: 0px -12px 43px rgba(173, 53, 53, 0.81), inset 0 0 3px #A50000;
	/* http://colorzilla.com/gradient-editor/#202128+0,121216+100 */
	background: #202128;/* Old browsers */
	background: -webkit-linear-gradient(top,  #202128 0%, #121216 100%);
	background: linear-gradient(to bottom,  #202128 0%, #121216 100%);
	background: -moz-linear-gradient(top,  #202128 0%, #121216 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202128', endColorstr='#121216',GradientType=0 );
}

	#wrapTests a{
		color: #322929;
		text-decoration: none;
	}
	#wrapTests a div{
		height: 115px;
		margin-bottom: 10px;
		width: 100%;
		text-align: center;
		transition: 0.4s ease-out;
		box-shadow: inset 0px 0px 106px #702323, 0px 10px 10px #141313;
		/* http://colorzilla.com/gradient-editor/#e04747+0,b33838+6,b33838+93,6d3630+100 */
		background: #e04747;
		background: -moz-linear-gradient(top,  #e04747 0%, #b33838 6%, #b33838 93%, #6d3630 100%);
		background: -webkit-linear-gradient(top,  #e04747 0%,#b33838 6%,#b33838 93%,#6d3630 100%);
		background: linear-gradient(to bottom,  #e04747 0%,#b33838 6%,#b33838 93%,#6d3630 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04747', endColorstr='#6d3630',GradientType=0 );
	}
	#wrapTests a>div{
		color: #262B31;

	}		#wrapTests a>div:hover{ /*g*/
			color: #353b42;
			box-shadow:  inset 0px 0px 50px #702323, 0px 10px 10px #141313;
		}


	#wrapTests a div h1{
	    text-shadow: 0px 1px 0px #DC4545;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	#wrapTests a div h1:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: middle;
	}

	#mainSections{
    	width: 100%;
	}
		#mainSections:before{
			content:'.';
			line-height: 500px;
			opacity: 0;
		}
		#mainSections:after{
			content:'.';
			line-height: 200px;
			opacity: 0;
		}

/*#footer {
	max-width: 980px;
	margin: 0 auto;
	height: 200px;

	background: #201616;
	background: -moz-linear-gradient(top,  #201616 0%, #0B0B12 6%, #0E0D0D 93%, #000000 100%);
	background: -webkit-linear-gradient(top,  #201616 0%,#0B0B12 6%,#0E0D0D 93%,#000000 100%);
    background: linear-gradient(to bottom, #201616 0%,#0B0B12 6%,#0E0D0D 93%,#000000 100%);
}*/