@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

:root {
  --text-color-light: lightgrey;
  --text-color-dark: #2f2323;
  --text-color-greydark: #262B31;

  --cubic-transition-20s: 2s cubic-bezier(.26,.45,.5,1.04);
  --cubic-transition-15s: 1.5s cubic-bezier(.26,.45,.5,1.04);
  --cubic-transition-05s: 0.5s cubic-bezier(.26,.45,.5,1.04);

  --item-transform-03s: all 0.3s ease-out, background-position 1s cubic-bezier(.26,.45,.5,1.04) 500ms;

  }

html {

  height: 100%;
  }

body,p,hr,h1,h2,h3,h4,h5 {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }

h1,h2,h3,h4,h5, p, span  {

  color: var(--text-color-dark);
  }

h1 {

  font-size: 7vw;
  margin-bottom: 16vw;
  margin-top: 20vw;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 {

  padding: 5px;
  font-size: 56px;
  font-weight: 200;
  text-transform: uppercase;
  }

h3 {

  text-transform: uppercase;
  font-weight: 100;
  font-size: 4vw;
  color: var(--text-color-light);
  margin: 6vh 0 11vh;
  }

h4 {

  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }

body {

  position: relative;
  overflow-y: overlay;
  min-height: 100%;
  font-family: 'Kanit', sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

a { text-decoration: none }

a:link, a:visited, a:active {

  color: var(--text-color-greydark);
  }

:focus { outline: 0; }

a { text-decoration: none; }

/* --------------------------- HOMEPAGE -----------------------------*/

.top_wrap {

  position: relative;
  height: 100vh;
  }

.top_wrap .radial_gradient{

  position: absolute;
  height: 50%;
  width: 100%;
  background: linear-gradient(5deg, #2f232300 26%, #2f2323, #2393d5 120%), radial-gradient(circle, rgb(82 14 14) 0%, rgb(168 60 60 / 0%) 30%, rgba(247,24,25,0) 100%);
  background-size: 156% 11%;
  background-blend-mode: difference;

  animation: gradient 15s ease;
  animation-fill-mode: forwards;

  -webkit-transition: background 2.0s ease-out;
  -moz-transition: background 2.0s ease-out;
  -o-transition: background 2.0s ease-out;
  transition: background 2.0s ease-out;

  -webkit-mask-image: linear-gradient(to top, transparent 30%, black 160%);
  mask-image: linear-gradient(to top, transparent 30%, black 160%);
  }

  @keyframes gradient {
    0% {
      background-position: 100% 70%;
      background-size: 156% 11%;
      opacity: 0.95;
      transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    }
    50% {
      background-position: 80% 70%;
      background-size: 176% 13%;
      opacity: 0.2;
      transform: rotateY( -2deg ) rotateX( 0deg ) skew(2deg, 2deg) rotate(2deg);
    }
    100% {
      background-position: 100% 70%;
      background-size: 156% 11%;
      opacity: 0.95;
      transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    }
  }

.wrap {

  display: inline-block;
  margin: 7vmin auto 0;
  -webkit-perspective: 100px;
  perspective: 100px;
  text-transform: uppercase;


  }

.moving_effect1 {

  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  color: #d3d3d3;
  font-size: 12vw;
  font-weight: 900;
  text-shadow: -4px 0 0 #ff5353, 1px -3px 0 #0f9bcc, -7px 1px 0 #2f2323, -3px 26px 0 #231a1a;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  animation: fadein 7s ease-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

.moving_effect1:first-child { position: relative; }

.moving_effect1:last-child {

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 83, 83, 0) -4px 0px 0px, rgba(15, 155, 204, 0) 1px -3px 0px, rgba(47, 35, 35, 0) -7px 1px 0px, rgba(35, 26, 26, 0.03) -3px 26px 0px;
  background-image: radial-gradient(circle, rgb(255 60 60) 0%, #2586c3 30%, #d3d3d3 100%);
  background-size: 530% 80%;
  animation: gradient_rad 15s ease;
  animation-delay: 8s;
  animation-direction: normal;
  opacity: 0;
  }


  @keyframes gradient_rad {
    0% {
      background-position: -50% 70%;
      opacity: 0;
    }
    30% {
      background-position: 150% 65%;
      opacity: 1;
    }
    100% {
      background-position: -50% 70%;
      opacity: 0;
    }
  }

.container {

  text-align: center;
  overflow: hidden;
  }

.container h1 {

  position: relative;
  }



/* ------ ABOUT ------- ABOUT ------- ABOUT ------- ABOUT -------*/



.about {

  width: 45vw;
  margin: 8vh auto 25vh;
  opacity: 0;

  animation: fadein 10s ease-out;
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  }

.about p {

  color: var(--text-color-light);
  font-weight: 100;
  font-size: 2vmax;
  opacity: 0.7;
  }

.scroll-down {

  opacity: 0;
  width: 45px;
  position: absolute;
  margin: 0 auto;
  top: 84vh;
  left: 0;
  right: 0;

  animation: fadein 10s ease-out;
  animation-delay: 7s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  }

.scroll-down lottie-player {

  width: unset;
  height: unset;
  transition: var(--cubic-transition-15s);
  }



/* ------ MENU SKILLS ------- MENU SKILLS ------- MENU SKILLS -------*/

.skills_wrap {

  position: relative;
  opacity: 0;
  transition: var(--cubic-transition-15s);
  transform: translateY(100px);

  }

.skills_wrap h2 {

  color: var(--text-color-light);
  position: absolute;
  left: 0;
  right: 0;
  top: -13vw;
  font-weight: 900;
  font-size: 14vw;
  opacity: 0.15;
  z-index: -1;

  -webkit-mask-image: linear-gradient(to top, transparent 30%, black 60%);
  mask-image: linear-gradient(to top, transparent 30%, black 60%);
  }

.menu_home {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 13vw auto 15vw;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4vw;
  }

.menu_home a {

  display: inline-block;
  background-color: #d3d3d3;
  padding: 0.6vw 3vw;
  margin: 1vw 1vw;
  min-width: 50px;
  min-height: 30px;
  border-radius: 50vmin;
  transition: 1.3s ease-out;
  -webkit-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  -moz-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);

  -webkit-animation: 0.5s forwards linear;
  -moz-animation: 0.5s forwards linear;
  animation: 0.5s forwards linear;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  }

/*.menu_home a p {

  color: rgba(38, 43, 49, 1);
  }
*/

.menu_home a:hover {

  background-color: #ececec;
  transition: 1.3s ease-out;
  }

.menu_home a:hover {

  animation-name: pulse;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  }

@keyframes pulse {
  from {
    box-shadow: none;
    text-shadow: none;
    color: rgba(38, 43, 49, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    box-shadow: -3px -3px 0 #fe5656, 3px 3px 0 #109bcb;
    text-shadow: -2px -2px 0 #fe5656, 2px 2px 0 #109bcb;
    color: rgba(38, 43, 49, 0);
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
    transform: scale3d(0.99, 0.99, 0.99);
  }
  30% {
    box-shadow: -3px -3px 0 #fe5656, 3px 3px 0 #109bcb;
    text-shadow: -2px -2px 0 #fe5656, 2px 2px 0 #109bcb;
    color: rgba(38, 43, 49, 0);
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
    transform: scale3d(0.98, 0.98, 0.98);
  }
  to {
    box-shadow: none;
    text-shadow: none;
    color: rgba(38, 43, 49, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* ------ MENU FIXED ------- MENU FIXED ------- MENU FIXED -------*/

/*future functional*/

/*.menu_home_fixed {

  display: flex;
  position: fixed;
  left: -180px;
  top: 50vh;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.6vw;
  transform: rotate(-90deg);
  }

.menu_home_fixed a {

  display: inline-block;
  background-color: #d3d3d3;
  padding: 0.2vw 0.5vw;
  margin: 1vw 0.1vw;
  min-width: 28px;
  border-radius: 50vmin;
  transition: 1.3s ease-out;
  -webkit-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  -moz-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  -webkit-animation: 0.5s forwards linear;
  -moz-animation: 0.5s forwards linear;
  animation: 0.5s forwards linear;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  }*/



/* ------ SOCIALS ------- SOCIALS ------- SOCIALS ------- SOCIALS ------- SOCIALS -------*/



#socials {

  margin-bottom: 20vmin;
  position: relative;
  overflow: hidden;
  height: 42vw;
  background-color: #e7e7e7;
  width: 80%;
  border-radius: 50vmin;
  display: inline-grid;
  transform: translate3d(0px, 0, 0) scale(0.9, 0.9);
  transition: var(--cubic-transition-05s);
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(20, 19, 19, 0.03),  0 3px 5px rgba(20, 19, 19, 0.03);
  }

.socials {

  font-size: 5.5vw;
  transform: scale(0.8);
  opacity: 0;
  line-height: 2;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--text-color-dark);
  padding: 0 15px;
  filter: blur(20px);
  transition: var(--cubic-transition-15s);
  }

.socials a {

  transition-timing-function: cubic-bezier(0.1, 0, 1, 1);
  transition-duration: .3s;
  position: relative;
  }

.socials a:hover {

  color: #ff5353;
  letter-spacing: 0.5vw;
  }

.socials a:nth-child(1){
  font-weight: 200;
  }
.socials a:nth-child(2){
  font-weight: 600;
  }
.socials a:nth-child(3){
  font-style: italic;
  }
.socials a:nth-child(1):hover{
  color: #0f9bcc;
  letter-spacing: 10px;
  }

#socials .noise {

  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .05;
  }


/* ------ WEB ------ WEB ------ WEB ------ WEB ------ WEB ------ WEB -------*/


.projects .category { margin-bottom: 15vw; }

.category {

  transition: opacity var(--cubic-transition-20s);
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  }

  .category:before, .undrline-active:before {

    content: "";
    position: absolute;
    height: 0.15vw;
    margin: 5px 0 0;
    bottom: 0;
    background-color: var(--text-color-dark);
    left: 0;
    transition: all var(--cubic-transition-15s);
    }

  .category:before {

    width: 0;
    opacity: 0;
    }

  .undrline-active:before {

    width: 100%;
    opacity: 1;
    }

/* ----- Thumbs -----*/

.projects {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.projects p{

  opacity: 0;
  transition: opacity var(--cubic-transition-20s);
  }

.projects p, .project_about p {

  margin-top: -8vw;
  margin-bottom: 13vw;
  padding: 0px 22vw;
  font-weight: 200;
  letter-spacing: 0.3px;
  font-size: 24px;
  }

.projects_thumbs {

  transform: translateY(100px);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  opacity: 0;
  }

.projects_thumbs h2 {

  display: none;
  color: var(--text-color-dark);
  background-color: #ffffff;
  }

.h {

  position: relative;
  margin-bottom: 10vw;
  display: inline-block;
  border-radius: 6px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 2vw;
  background-color: #ffffff;
  transition: var(--item-transform-03s);
  transform: rotateY( -2deg ) rotateX( 10deg ) skew(2deg, 2deg) rotate(2deg);
  border-right: solid #d2cfcf 7px;
  border-top: solid #ffffff 7px;
  box-shadow: 40px 20px 56px rgba(47, 35, 35, 0.11), 10px 15px 20px rgba(47, 35, 35, 0.02), 3px 4px 5px rgba(47, 35, 35, 0.02), inset 0px 2px white;
  }

  .h:hover {

    transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    border-right: solid #d2cfcf 0;
    border-top: solid #ffffff 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03), inset 0em 2px white;
    }

  .h a {

    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

  .h img { width: 100%; }

  .h span, .frontend_sect div span {

    position: absolute;
    opacity: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    top: -55px;
    right: 0;
    left: 0;
    transition: var(--cubic-transition-05s);
    }

  .h:hover span {

    opacity: 1;
    top: -4vw;
    }


/* ------ WED DESIGN------ WED DESIGN------ WED DESIGN------ WED DESIGN -------*/



#webDesign_cont .h {

  height: 22vw;
  width: 44%;
  }

#webDesign_cont>div:nth-child(1) {

  background-image: url(../img/Envista/thumb.png);
  }

#webDesign_cont>div:nth-child(1):hover {

  background-position-y: -35vw;
  }

#webDesign_cont>div:nth-child(2)
  {
    background-image: url(../img/NavyIland/thumb.png);
  }
  #webDesign_cont>div:nth-child(2):hover {
    background-position-y: 2.3vw;
  }

#webDesign_cont>div:nth-child(3)
  {
    background-image: url(../img/K-Stats/thumb.png);
  }
  #webDesign_cont>div:nth-child(3):hover {
    background-position-y: -10vw;
  }

#webDesign_cont>div:nth-child(4)
  {
    background-image: url(../img/Modo/thumb.png);
  }
  #webDesign_cont>div:nth-child(4):hover {
    background-position-y: 0.7vw;
  }

#webDesign_cont>div:nth-child(5)
  {
    background-image: url(../img/Citizen/thumb.png);
  }

  #webDesign_cont>div:nth-child(5):hover {
    background-position-y: -28vw;
    }

#webDesign_cont>div:nth-child(6) {

    background-image: url(../img/Ek/thumb.png);
    }

  #webDesign_cont>div:nth-child(6):hover{

    background-position-y: -37vw;
    }



/* ------ APP / MOBILE ------ APP / MOBILE ------ APP / MOBILE ------ APP / MOBILE -------*/



#appMob_cont {

  width: 100%;
  justify-content: center;
  align-items: center;
  }

  #appMob_cont .h {

    margin-bottom: 0;
    position: unset;
    padding: 0.3vw;
    border-radius: 2.5vw;
    margin-top: 0;
    transition: var(--cubic-transition-05s);
    box-shadow: 50px 50px 106px -50px rgba(47, 35, 35, 0.19), 10px 15px 20px rgba(47, 35, 35, 0.09), 3px 4px 5px rgba(47, 35, 35, 0.02);
    }

    #appMob_cont .h:hover {

      box-shadow: 50px 50px 106px -50px rgba(47, 35, 35, 0.19), 10px 15px 20px rgba(47, 35, 35, 0.09), 3px 4px 5px rgba(47, 35, 35, 0.02);
      margin-top: -1vmin;
      }

  #appMob_cont .h:hover:nth-child(1) {

    transform: rotateY( -2deg ) rotateX( 10deg ) skew(2deg, 2deg) rotate(2deg);
    border-right: solid #d2cfcf 7px;
    border-top: solid #ffffff 7px;
    }


  #appMob_cont .h:hover:nth-child(2) {

    margin-top: -1vmin;
    margin-bottom: 1vmin;
    border-top: solid #ffffff 7px;
    }
    #appMob_cont .c{
      margin-top: 1vmin;
      margin-bottom: 1vmin;
      }

  #appMob_cont .h:hover:nth-child(3) {

    border-left: solid #ffffff 7px;
    border-top: solid #ffffff 7px;
    }

  #appMob_cont>div:nth-child(1), #appMob_cont>div:nth-child(3) {

    width: 30vh;
    }

  #appMob_cont>div:nth-child(1) {
      margin-right: 7vh;
    }

  #appMob_cont>div:nth-child(2) {

    width: 36vh;

    transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    border-right: solid #d2cfcf 0px;
    z-index: 1;
    }

  #appMob_cont>div:nth-child(3) {

    margin-left: 7vh;
    transform: rotateY( 2deg ) rotateX( -10deg ) skew(-2deg, -2deg) rotate(-2deg);
    border-right: solid #d2cfcf 0px;
    border-top: solid #ffffff 7px;
    border-left: solid #fffefe 7px;
    }

  #appMob_cont .h img {

    border-radius: 1.7vw;
    }

#appMob_cont h2{
  background-color: transparent;
  }

#mob{
  margin-top: 10vw;
  }

#mob img{
  opacity: 1;
  }



/* ------ ANIMATIONS (Lottie) -------*/



lottie-player {

  width: 22vmax;
  height: 22vmax;
  }

.animation { background: transparent; }

#animations_cont {

  justify-content: space-around;
  width: 70vw;
  }

  #animations_cont .h {

    overflow: hidden;
    transform: rotateY( -2deg ) rotateX( 10deg ) skew(2deg, 2deg) rotate(2deg);
    border-right: solid #d2cfcf 0;
    border-top: solid #ffffff 0;
    border-radius: 50%;
    margin: 0 2vw 10vw 2vw;
    pointer-events: none;
    }

  #animations_cont .h:nth-child(2) {  }

  #animations_cont .h:hover, #frontend_cont .h:hover {

    background-color: white;
    }

  #animations_cont .h:before {

    display: none;
    content: "";
    }



/* ------ FRONTEND -------*/



#frontend_cont {

  flex-direction: column;
  align-content: center;
  }

#frontend_cont .h:nth-child(2) {}

#frontend_cont .h {

  min-width: 230px;
  width: 13vw;
  margin-bottom: 5vw;
  /*transform: rotate( 0deg );*/
  border-right: solid #d2cfcf 0px;
  border-top: solid #ffffff 0px;
  overflow: hidden;
  border-radius: 5px;
  }

#frontend_cont .h a { overflow: hidden; }

.frontend_sect {

  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row-reverse;
  align-items: normal;
  }

.frontend_sect .span_wrap {

  display: flex;
  flex-direction: column;
  }

.frontend_sect div span {

  font-size: 18px;
  height: fit-content;
  opacity: 1;
  position: unset;
  max-width: 570px;
  text-align: left;
  padding: 2vw 50px 0 0;
  }

  .frontend_sect div span:first-child {

    padding-top: 20px;
    }



/* ------ GRAPHDESIGN ---- GRAPHDESIGN ---- GRAPHDESIGN ---- GRAPHDESIGN ------*/


.graphdesign_wrap{

  position: relative;
  }

#graphdesign, .graphdesign_wrap p {

  color: transparent;
  background: linear-gradient(270deg, rgba(16,155,203,1) 0%, rgba(60,112,168,1) 50%, rgba(247,24,25,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }

#graphdesign:before, #graphdesign .undrline-active:before {

  background: linear-gradient(270deg, rgba(16,155,203,1) 0%, rgba(60,112,168,1) 50%, rgba(247,24,25,1) 100%);
  }

#graphdesign_cont {

  opacity: 0;
  /*transform: matrix(1, 0, 0, 1, 300, 0);*/
  }

/* ---------- Slick slider ----------- */

.thumbs_mob .slick-list .slick-track{

  height: 100% !important;
  }

/*  arrows  */
.slick-prev, .slick-next {

  width: 0;
  top: calc(50vh + 20px);
  z-index: 2;
  }

.slick-next {

  right: 27vw;
  }

.slick-prev {

  left: 27vw;
  }

.slick-prev:before, .slick-next:before {

  font-size: 6vh;
  color: #cc442d;
  }

#graphdesign_cont .slick-slide img {

  border-radius: 0;
  height: 98vh;
  cursor: grab;
  }

#graphdesign_cont .slick-prev:before, #graphdesign_cont .slick-next:before {

  color: #ff5353;
  }

#graphdesign_cont .slick-next {

  right: 3vmin;
  }

#graphdesign_cont .slick-prev {

  left: 3vmin;
  }



/* ---------- FOOTER ---- FOOTER ---- FOOTER ---- FOOTER ---------- */



.footer_home div{

  height: 100px;
  }

.footer_home {

  margin-top: 8vmin;
  }

.footer_home>div {

  width: 100%;
  position: relative;
  overflow: hidden;
  }

.footer_home>div>div {

  position: absolute;
  left: 0;
  right: 0;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  }

.footer_home>div>div>span { color: var(--text-color-light); }


/* ---------- MAGIC --------- */

body{

  background: var(--text-color-dark);

/*  -webkit-transition: background 2.0s ease-out;
  -moz-transition: background 2.0s ease-out;
  -o-transition: background 2.0s ease-out;
  transition: background 2.0s ease-out;*/

  transition: background var(--cubic-transition-20s);
  }


.greyBody { background: #e7e7e7 !important; }

.whiteBody { background: white !important; }

.brownBody { background: var(--text-color-dark) !important; }

.blackBody {

  background: #0e0e0e !important;
  transition: background var(--cubic-transition-15s);
  }

.fadeup-category { opacity: 1 !important; }

.fadeup {

  transform: translateY(0px) !important;
  opacity: 1;
  transition: var(--cubic-transition-15s);
  }

.m-socials {

  filter: blur(0px);
  transform: scale(1);
  opacity: 1;
  }

.disable-hover { pointer-events: none; }

.blur {

  filter: blur(10px);
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  }

/*Triggers*/

  .triggerr { position: absolute; }

  #trigger-about { top: 50vh; }
  #trigger-socials { top: 0; }
  #trigger-graphdesign { top: 63vh; }