@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

body,p,hr,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 { color: #2f2323; }

body{
  background-color: rgb(47, 35, 35);
  font-family: 'Kanit', sans-serif;
  /*cursor: crosshair;*/
  -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
}

body{
  -webkit-transition: background-color 2.0s ease-out;
  -moz-transition: background-color 2.0s ease-out;
  -o-transition: background-color 2.0s ease-out;
  transition: background-color 2.0s ease-out;
}

a{text-decoration: none}
a:link, a:visited, a:active {color: #262B31;}

:focus {outline: 0;}

a{text-decoration: none;}

.disable-hover {pointer-events: none;}

/* --------------------------- HOMEPAGE -----------------------------*/

.wrap {
  display: inline-block;
  margin: 3vw auto 0;
  -webkit-perspective: 100px;
  perspective: 100px;
  text-transform: uppercase;
}

.moving_effect1 {
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  color: #d3d3d3;
  font-size: 12vw;
  font-weight: 900;
  text-shadow: -4px 0 0 #ff5353, 1px -3px 0 #0f9bcc, -7px 1px 0 #2f2323, -3px 26px 0 #231a1a;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.moving_effect1:first-child { position: relative; }

.container{
  text-align: center;
  overflow: hidden;
}
.container h1{
  position: relative;
  font-size: 7vw;
  margin-bottom: 16vw;
  margin-top: 20vw;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}



/* ------ MENU SKILLS -------*/



.menu_home{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 5vw auto 15vw;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4vw;
}

.menu_home a{

  display: inline-block;
  background-color: #d3d3d3;
  padding: 0.6vw 3vw;
  margin: 1vw 1vw;
  min-width: 50px;
  min-height: 30px;
  border-radius: 50vmin;
  transition: 1.3s ease-out;
  -webkit-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  -moz-transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  transition: 2s cubic-bezier(0.14, 1.13, 0, 0.91);

  -webkit-animation: 0.5s forwards linear;
  -moz-animation: 0.5s forwards linear;
  animation: 0.5s forwards linear;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.menu_home a:hover{

  background-color: #ececec;
  transition: 1.3s ease-out;
}

.menu_home a:hover{

  animation-name: pulse;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
}

@keyframes pulse {
    from {
    box-shadow: none;
    text-shadow: none;
    color: rgba(38, 43, 49, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  20% {
    box-shadow: -3px -3px 0 #fe5656, 3px 3px 0 #109bcb;
    text-shadow: -2px -2px 0 #fe5656, 2px 2px 0 #109bcb;
    color: rgba(38, 43, 49, 0);
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
    transform: scale3d(0.99, 0.99, 0.99);
  }

    30% {
    box-shadow: -3px -3px 0 #fe5656, 3px 3px 0 #109bcb;
    text-shadow: -2px -2px 0 #fe5656, 2px 2px 0 #109bcb;
    color: rgba(38, 43, 49, 0);
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
    transform: scale3d(0.98, 0.98, 0.98);
  }

  to {
    box-shadow: none;
    text-shadow: none;
    color: rgba(38, 43, 49, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



/* ------ SOCIALS -------*/



#socials {

  margin-bottom: 40vmin;
  position: relative;
  overflow: hidden;
  height: 42vw;
  background-color: #e7e7e7;
  width: 80%;
  border-radius: 50vmin;
  display: inline-grid;
  transform: translate3d(0px, 0, 0) scale(0.9, 0.9);
  transition: 0.4s ease-out;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(20, 19, 19, 0.03),  0 3px 5px rgba(20, 19, 19, 0.03);
}

.socials {

  font-family: 'Kanit', sans-serif;
  font-size: 5.5vw;
  transform: scale(0.8);
  opacity: 0;
  line-height: 2;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #2f2323;
  padding: 0 15px;
  filter: blur(20px);
  transition-timing-function: ease-out;
  transition-duration: 1.0s;
}

  .m-socials {

    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }

.socials a {

  transition-timing-function: cubic-bezier(0.1, 0, 1, 1);
  transition-duration: .3s;
  position: relative;
}

.socials a:hover {

  color: #ff5353;
  letter-spacing: 10px;
}

.socials a:nth-child(1){
  font-weight: 200;
}
.socials a:nth-child(2){
  font-weight: 600;
}
.socials a:nth-child(3){
  font-style: italic;
}
.socials a:nth-child(1):hover{
  color: #0f9bcc;
  letter-spacing: 10px;
}

#socials .noise {

  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .05;
}

/* ------ PROJECTS 3D THUMBS -------*/

.projects .category { margin-bottom: 15vw; }

.category {

  transition: opacity 2s ease-out;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
}
    .category:before, .undrline-active:before {

      content: "";
      position: absolute;
      height: 0.15vw;
      margin: 5px 0 0;
      bottom: 0;
      background-color: #2f2323;
      left: 0;
      transition: all 1.5s cubic-bezier(.26,.45,.5,1.04);
    }

    .category:before {

      width: 0;
      opacity: 0;
    }

.undrline-active:before {

  width: 100%;
  opacity: 1;
}

/* ----- Thumbs -----*/

.projects {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects_thumbs {

  transform: translateY(100px);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  opacity: 0;
}

.projects_thumbs h2 {

  display: none;
  padding: 5px;
  color: #2f2323;
  background-color: #ffffff;
  font-size: 1vw;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h {

  margin-bottom: 10vw;
  display: inline-block;
  border-radius: 6px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 2vw;
  background-color: #ffffff;
  transition: all 0.3s ease-out, background-position 1s cubic-bezier(.26,.45,.5,1.04) 500ms;
  transform: rotateY( -2deg ) rotateX( 10deg ) skew(2deg, 2deg) rotate(2deg);
  border-right: solid #d2cfcf 7px;
  border-top: solid #ffffff 7px;
  box-shadow: 50px 40px 106px rgba(47, 35, 35, 0.19), 10px 15px 20px rgba(47, 35, 35, 0.09), 3px 4px 5px rgba(47, 35, 35, 0.02);
}

    .h:hover {

      transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
      border-right: solid #d2cfcf 0;
      border-top: solid #ffffff 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03);
    }

    .h:before {

      font-weight: 300;
      letter-spacing: 2px;
      color: #525252;
      position: absolute;
      white-space: pre;
      content: "Hello";
      opacity: 0;
      height: 5px;
      top: -30px;
      right: 0;
      left: 0;
      transition: all 0.3s ease-out;
    }

        #webDesign_cont .h:nth-child(1):before{
          content: "Project name: Envista\A Task: make promo page for site opening.";
        }

    .h:hover:before {

      opacity: 1;
      top: -6vmin;
    }

    .h a {

      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .h img { width: 100%; }



/* ------ WED DESIGN -------*/



#webDesign_cont .h {

  height: 22vw;
  width: 44%;
}

#webDesign_cont>div:nth-child(1) { background-image: url(../img/Envista/Envista.jpg); }
#webDesign_cont>div:nth-child(1):hover{
  background-position-y: -35vw;
  transition: all 0.3s ease-out, background-position 2s cubic-bezier(.26,.45,.5,1.04) 500ms;
}

#webDesign_cont>div:nth-child(2)
  {
    background-image: url(../img/NavyIland/Web-App-NavyIsland/WebSite/Gallery-third_page_v2.png);
  }
  #webDesign_cont>div:nth-child(2):hover{
    background-position-y: 2.3vw;
  }

#webDesign_cont>div:nth-child(3)
  {
    background-image: url(../img/K-Stats/K-Stats.png);
  }
  #webDesign_cont>div:nth-child(3):hover{
    background-position-y: -10vw;
  }

#webDesign_cont>div:nth-child(4)
  {
    background-image: url(../img/Modo/Modo_tracking_system.png);
  }
  #webDesign_cont>div:nth-child(4):hover{
    background-position-y: 0.7vw;
  }

#webDesign_cont>div:nth-child(5)
  {
    background-image: url(../img/Citizen/Home.png);
  }
  #webDesign_cont>div:nth-child(5):hover{
    background-position-y: -28vw;
    transition: all 0.3s ease-out, background-position 2s cubic-bezier(.26,.45,.5,1.04) 500ms;
  }

#webDesign_cont>div:nth-child(6)
  {
    background-image: url(../img/Ek/WhatCharity.jpg);
    transition: all 0.3s ease-out, background-position 2s cubic-bezier(.26,.45,.5,1.04) 500ms;
  }
  #webDesign_cont>div:nth-child(6):hover{
    background-position-y: -37vw;
  }



/* ------ APP / MOBILE -------*/



#appMob_cont {

  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 80vw;
  height: 90vh;
  }
    #appMob_cont .h {

      width: 36vh;
      position: absolute;
      padding: 0.3vw;
      border-radius: 2.5vw;
      margin-top: 0;
      box-shadow: 50px 50px 106px -50px rgba(47, 35, 35, 0.19), 10px 15px 20px rgba(47, 35, 35, 0.09), 3px 4px 5px rgba(47, 35, 35, 0.02);
    }
      #appMob_cont .h:hover {

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03);
        margin-top: -20px;
    }

    #appMob_cont>div:nth-child(1), #appMob_cont>div:nth-child(3) {

      width: 33vh;
    }

    #appMob_cont>div:nth-child(1) {

      left: 0;
    }

    #appMob_cont>div:nth-child(2) {

      width: 39vh;
    }

    #appMob_cont>div:nth-child(3) {

      right: 0;
    }

    #appMob_cont .h img {

      border-radius: 1.7vw;
    }

#appMob_cont h2{
  background-color: transparent;
}

#mob{
  margin-top: 10vw;
}

#mob img{
  opacity: 1;
}



/* ------ ANIMATIONS (Lottie) -------*/



lottie-player {

  width: 35vmin;
  height: 35vmin;
}

.animation { background: transparent; }

#animations_cont{ justify-content: space-around; }

  #animations_cont .h {

    overflow: hidden;
    transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    border-right: solid #d2cfcf 0;
    border-top: solid #ffffff 0;
    border-radius: 50%;
    margin: 0 2vw 10vw 2vw;
    box-shadow: 50px 50px 106px -50px rgba(47, 35, 35, 0.19), 10px 15px 20px rgba(47, 35, 35, 0.09), 3px 4px 5px rgba(47, 35, 35, 0.02);
  }

  #animations_cont .h:nth-child(2) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03);
  }
  #animations_cont .h:hover {

    transform: rotateY( 0deg ) translateY(2px) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03);
  }

    #animations_cont .h:before {

      display: none;
      content: "";
    }



/* ------ FRONTEND -------*/



#frontend_cont .h {

  width: 35vmin;
  height: 35vmin;
}



/* ------ GRAPHDESIGN -------*/



#graphdesign {

  /*color: #252525;*/
  color: transparent;
  background: linear-gradient(270deg, rgba(16,155,203,1) 0%, rgba(60,112,168,1) 50%, rgba(247,24,25,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#graphdesign:before, #graphdesign .undrline-active:before {

  background: linear-gradient(270deg, rgba(16,155,203,1) 0%, rgba(60,112,168,1) 50%, rgba(247,24,25,1) 100%);
}

#graphdesign_cont{
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 300, 0);
}

/* ---------- To Top --------- */

.to_top_arrow {

  display: inline-block;
  width: 40px;
  margin: 220px 0 80px 0;
}

/* --------------------------- PAGES -----------------------------*/

.header {

  min-height: 120px;
  top: 0;
  left: 0;
  right: 0;
  background: #e7e7e7;
  z-index: 99;
  position: fixed;
  flex: 0 0 auto;
  padding: 20px 43px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(20, 19, 19, 0.03), 0 3px 5px rgba(20, 19, 19, 0.03);
}

.header a {

  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  display: inline;
  color: #2f2323;
  padding: 0 15px;
  margin-top: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header h1 {

  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px 0 15px;
}

.header hr {

  width: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(47, 35, 35, 0.2);
}

.thumbnails, .thumbs_mob {

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
}

.thumb {

  margin-right: 10px;
  margin-top: 12px;
  height: 60px;
}

.thumb img {

  height: 60px;
  cursor: pointer;
}

.main_image, .main_image_mob, .main_image_columns { margin-top: 150px; }

.main_image_mob div>img {

  height: 82vh;
  box-shadow: none;
}

footer {

  width: 100%;
  height: 90px;
}

footer>hr {

  border-top: 1px solid rgba(47, 35, 35, 0.2);
  border-bottom: 0;
  margin-top: 30px;
}

footer>div {

  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  height: 55px;
  margin: 20px 28px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

footer a {

  height: 100%;
  display: flex;
}

footer>div>div:nth-child(1)>a, footer>div>div:nth-child(2)>a {

  -ms-flex-align: center;
  align-items: center;
}

footer>div>div:nth-child(2) {

  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-positive: 9999;
  flex-grow: 9999;
}

footer div a img{

  width: 20px;
  height: 100%;
}

footer h1{

  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  display: inline;
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* ----- COLUMNS ------ */

.main_image_columns {

  text-align: center;
  padding: 2vw;
  position: relative;

  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;

  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;

  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.gradient {

  position: absolute;
  background: linear-gradient(0deg, rgb(255 255 255) 30%, rgb(255 255 255 / 0%) 100%);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vw;
}

.gradient h1 {

  position: absolute;
  bottom: -4vw;
  width: 100%;
  font-size: 7vw;
  font-weight: 300;
}

.main_image_columns>div {

  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 2.5vw;
}

.main_image_columns img {

  width: 95%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(20, 19, 19, 0.03), 0 3px 5px rgba(20, 19, 19, 0.03);
}

#prototype {

  position: relative;
  margin-top: 26vh;

}

#prototype img {

  width: 100%;
  margin: 0 auto;
  display: block;
}

#prototype .gradient {

  background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(255 255 255 / 0%) 50%);
  height: 100%;
}




/* ----- MEDIA QUERIES -----*/

@media all and (max-width: 1600px){

  .wrap {
      display: inline-block;
      margin: 20vmin auto 0;
  }
  #appMob_cont{
    height: 50vh;
  }
  #appMob_cont .h{
    top: 0;
  }

  #appMob_cont>div:nth-child(1), #appMob_cont>div:nth-child(3) {

    width: 20vmin;
    top: 5vmin;
  }

    .menu_home {

      margin: 14vmin auto 15vw;
    }

    #appMob_cont>div:nth-child(1) {

      left: 3vmin;
    }
    #appMob_cont>div:nth-child(2) {

      width: 25vmin;
    }
    #appMob_cont>div:nth-child(3) {

      right: 3vmin;
    }

}

@media all and (max-width: 720px){

  .menu_home {
    flex-direction: column;
    font-weight: 300;
    font-size: 4.3vw;
  }
  .menu_home a {
    padding: 1.6vw 3vw;
  }

  .container h1 {
    font-size: 9vmin;
    font-weight: 200;
  }

  .projects_thumbs {
    flex-direction: column;
    align-items: center;
  }

  .main_image, .main_image_mob, .main_image_columns {
    margin-top: 210px;
  }
  footer h1{
    font-size: 11px;
  }
  .socials{
    flex-direction: column;
  }

  .h {
    margin-bottom: 17vw;
  }

  #webDesign_cont .h {
    height: 46vw;
    width: auto;
  }
  #appMob_cont{
    height: auto;
  }
  #appMob_cont .h{
    position: unset;
    width: 48vw !important;
  }

  #frontend_cont .h {
    width: 65vmin;
    height: 65vmin;
  }
  lottie-player {
    width: 65vmin;
    height: 65vmin;
  }

}

/* ---------- Slick slider ----------- */

.slick-prev, .slick-next {
    width: 0;
    top: 37vh;
    z-index: 2;
}

.slick-next {
    right: 25vw;
}

.slick-prev {
    left: 25vw;
}

.slick-prev:before, .slick-next:before {
    font-size: 6vh;
    color: #cc442d;
}

#graphdesign_cont .slick-prev, #graphdesign_cont .slick-next {
    top: 50vh;
}

#graphdesign_cont .slick-prev:before, #graphdesign_cont .slick-next:before { color: #ff5353; }

#graphdesign_cont .slick-next {
    right: 3vmin;
}

#graphdesign_cont .slick-prev {
    left: 3vmin;
}


/* ---------- MAGIC --------- */

.greyBody { background-color: #e7e7e7; }
.blackBody { background-color: #0e0e0e; }

.fadeup-category { opacity: 1 !important; }
.fadeup {

  transform: translateY(0px) !important;
  opacity: 1;
  transition: 1.5s cubic-bezier(.26,.45,.5,1.04);
}





/*ANIMATION*/

/*#Envista{
    background-image: url(../img/Envista/Envista.jpg);

    -webkit-animation: 1.5s forwards linear;
    -moz-animation: 1.5s forwards linear;
    animation: 1.5s forwards linear;
  }

  #Envista:hover{
    animation-name: projects;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;

        -webkit-animation-name: projects;
        -moz-animation-name: projects;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
  }

    @keyframes projects {
        from {
        background-position-y: 2vw;
      }

      50% {
        background-position-y: -20vw;
      }

      to {
        background-position-y: -20vw;
      }
    }*/