/* ----- MEDIA QUERIES -----*/


@media all and (max-width: 1600px){

  .wrap {
    display: inline-block;
    }

  #appMob_cont .h{
    top: 0;
    }

  #webDesign_cont .h span{
    display: none;
    }

  #appMob_cont>div:nth-child(1), #appMob_cont>div:nth-child(3) {

    width: 25vmin;
    top: 5vmin;
    }

    .menu_home {

      margin: 14vmin auto 15vw;
      }

    #appMob_cont>div:nth-child(1) {

      left: 15vmax;
      left: calc(40vw - 65vh);
      }

    #appMob_cont>div:nth-child(2) {

      width: 31vmin;
      transform: rotateY( 0deg ) rotateX( 0deg ) skew(0deg, 0deg) rotate(0deg);
      border-right: solid #d2cfcf 0px;
      }

    #appMob_cont>div:nth-child(3) {

      right: 15vmax;
      right: calc(40vw - 65vh);
      transform: rotateY( 2deg ) rotateX( -10deg ) skew(-2deg, -2deg) rotate(-2deg);
      border-right: solid #d2cfcf 0px;
      border-top: solid #ffffff 7px;
      border-left: solid #fffefe 7px;
      }

} /* media 1600px */

/*     1200        1200        1200        1200        1200     */

@media all and (max-width: 1200px){

  .moving_effect1:nth-child(2), .moving_effect1:nth-child(3), .moving_effect1:nth-child(4), .moving_effect1:nth-child(5), .moving_effect1:nth-child(6), .moving_effect1:nth-child(7), .moving_effect1:nth-child(8), .moving_effect1:nth-child(9), .moving_effect1:nth-child(10){
    display: none;
    }

  .top_wrap .top_wrap {
    margin: 6vh 0 6vh;
    font-size: 3vmax;
    }

  .top_wrap .about {
    width: 65vw;
    }

  .about p {
    margin: 6vh 0 6vh;
    font-size: 2.5vmax;
    }

  .container h1{
    font-size: 10vw;
    }

  .container .projects .category {
    margin-bottom: 20vw;
    }

  .projects_thumbs {

    justify-content: center;
    }

  #webDesign_cont .h {
    height: 40vw;
    width: 88%;
    }

  .thumbs_mob, .thumbnails{
    display: none;
    }

  .slick-next {
    right: 6vw;
    }

  .slick-prev {
    left: 6vw;
    }

  #appMob_cont>div:nth-child(1), #appMob_cont>div:nth-child(2), #appMob_cont>div:nth-child(3) {

    width: 21vmin;
    }

  #appMob_cont>div:nth-child(1) {

    margin-right: 3vh;
    }

  #appMob_cont>div:nth-child(3) {

    margin-left: 3vh;
    }

  .frontend_sect {
    flex-direction: column-reverse;
    align-items: center;
    }

  #frontend_cont .h {

    margin-bottom: 15vw;
    width: 75vw;
    border-radius: 5px;
    }

  .frontend_sect .span_wrap span {

    text-align: center;
    padding: 0 10px 30px 10px;
    }

  #graphdesign_cont .slick-slide img {

    width: 100vw;
    height: auto;
    }

  .projects p, .project_about p {
    padding: 0px 18vw 0 18vw;
    font-size: 18px;
    }

  .project_about p {
    padding: 100px 110px 100px 110px;
    height: 83vh;
    }

  .project_about {

    width: 90vw;
    top: 9vh;
    }

} /* media 1200px */

/*     720        720        720        720        720     */


@media all and (max-width: 720px){

  html {
    /*height: unset;*/
    }

  body {
    min-height: 100%;
    /*position: relative;*/
    }

  .wrap {

    margin: 24vmin auto 0;
    }

  .about {

    width: 65vw;
    }

  .about p {

    font-size: 3vmax;
    margin: 8vh 0px 6vh;
    }

  .menu_home {

    flex-direction: column;
    font-weight: 300;
    font-size: 4.3vw;
    margin: 0 auto 45vw;
    }

  .menu_home a {

    padding: 1.6vw 3vw;
    }

  .skills_wrap h2 {

    position: unset;
    -webkit-mask-image: unset;
    mask-image: unset;
    }

  .container .projects .category {

    margin-bottom: 10vw;
    }

  .container h1 {

    font-size: 9vmin;
    font-weight: 200;
    }

  .projects_thumbs {

    flex-direction: column;
    align-items: center;
    }

  .projects p {

    margin-top: 3vw;
    margin-bottom: 26vw;
    padding: 0px 13vw 0 13vw;
    letter-spacing: 0px;
    font-size: 4.8vw;
    }

  .project_about {

    width: 93vw;
    top: 3vh;
    height: 95vh;
    }

  .project_about p {

    height: 96vh;
    padding: 70px 50px;
    top: 0vh;
    }

  .main_image, .main_image_mob, .main_image_columns {

    padding-top: 30px;
    padding-bottom: 126px;
    margin-top: 0px;
    }

  footer h1{

    font-size: 11px;
    }

  .socials{

    flex-direction: column;
    }

  .category:before, .undrline-active:before { height: 0.45vw; }

  .h {
    margin-bottom: 17vw;
    }

  #webDesign_cont .h {
    height: 46vw;
    width: auto;
  }

  #appMob_cont {
    height: auto;
    }

  #appMob_cont .h {

    margin: 0 0  17vw 0 !important;
    padding-bottom: 0;
    width: 48vw !important;
    border-right: solid #d2cfcf 7px !important;
    border-top: solid #ffffff 7px !important;
    border-left: solid #fffefe 0px !important;
    border-bottom: solid #fffefe 0px !important;
    transform: rotateY( -2deg ) rotateX( 10deg ) skew(2deg, 2deg) rotate(2deg) !important;
    }

  #appMob_cont .h img{

    width: 95%;
    }

  lottie-player {

    width: 65vmin;
    height: 65vmin;
    }

  #frontend_cont .h {

    transform: none;
    width: 80vmin;
    height: 80vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 3px 5px rgba(20, 19, 19, 0.03), 0 1px 1px rgba(20, 19, 19, 0.03), inset 0em 2px white;
    }

  .frontend_sect {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column-reverse;
    }

  .frontend_sect span {

    font-size: 3vw;
    width: 95%;
    padding: 2vw 0vw 2vw 0vw;
    }

  #graphdesign_cont .slick-slide img {

    width: 100vw;
    height: auto;
    }

    .main_image_mob .slick-slide img {

      /*width: 69vw;*/
      height: 67vh;
      }

    .slick-prev, .slick-next {

      top: 39vh;
      }

  .header {

    position: unset;
    min-height: auto;
    padding: 11px 5px;
    }

  .header h1 {

    font-size: 22px;
    }

  .main_image_columns {

    column-width: 100px;
    }

  #prototype {

    margin-top: 6vh;
    }

} /* media 720px */