#container{
	margin: 0 auto;
    max-width: 980px;
    min-width: 300px;
}
#top{
	position: relative;
	height: 30px;
	background: #DADADA;
}
#cartTop{
    position: absolute;
    width: 50px;
    height: 100%;
    right: 240px;
    top: 2px;
}
	#cartTop:after{
		content: 'cart';
		margin-left: 2px;
	    vertical-align: sub;
	}

#top .btn{
	text-align: center;
	position: absolute;
    height: 30px;
	width: 100px;
	right: 100px;
	background: black;
	color: white;
}
.btnLang{
	font-size: 11px;
	text-align: left;
	margin-top: 4px;
    padding-left: 10px;
	position: absolute;
	height: 22px;
	width: 90px;
	right: 5px;
}
	#top .dropdown-menu{
	font-size: 11px;
	left: inherit;
	right: 5px;
	top: 25px;
	width: 90px;
	padding: 0;
	}
	#top .dropdown-menu a{
		width: 100%;
	}
	#top hr{
		padding: 0;
		margin: 0;
	}
	#top .caret{
	    top: 6px;
	    right: 4px;
	    border-top: 6px dashed;
    	border-top: 6px solid \9;
    	border-right: 6px solid transparent;
    	border-left: 6px solid transparent;
	}

	@media all and (max-width: 460px){
		#cartTop{
			width: 15px;
			right: 145px;
		}
			#cartTop:after{
				content: '';
	}
		#top .btn{
			width: 70px;
			right: 40px;
		}
		.btnLang{
			font-size: 0;
			width: 30px;
			right: 5px;
		}
		#top .dropdown-menu{
			font-size: 0px;
			right: 5px;
			top: 25px;
			width: 30px;
		}
		#top .caret{
			display: none;
		}
	}
/* -------PRODUCTS--------- */

#products{
	position: relative;
	margin-top: 30px;
    min-height: 580px;
}
	#products-blackLine{
		position: absolute;
		background: #0b1115;
		width: 100%;
		height: 41px;
		z-index: -1;
	}
	#products>div:first-child{
		margin-right: 2.666%;
	}
	#products>div:nth-child(2){
		margin-right: 2.666%;
	}
	#products>div:nth-child(3){
		margin-right: 2.666%;
	}
	#products>div:nth-child(4){
	}

		.prod-unit{
			text-align: center;
			height: 520px;
			width: 23%;
			min-width: 220px;
			float: left;
		}
			.prod-unit-title{
			    color: white;
				background: #0b1115;
				width: 100%;
				height: 41px;
			    padding-top: 10px;
			    margin-bottom: 30px;
			}
			@media all and (max-width: 980px){
				.prod-unit-title{
				margin-bottom: 0px;
				}
			}
			.prod-unit-wrapBorder{
				width: 100%;
				height: 450px;
				box-sizing: border-box;
   				border: 1px solid #e5e5e5;
			}
				.prod-unit-about{
					height: 92px;
					overflow: hidden;
					text-align: center;
					padding: 10px 14px;
					font-weight: 600;
				}
				.prod-unit-title, .prod-unit-about, .prod-unit-price, .prod-unit-availability{
					font-family: arial;
				}
				.prod-unit-img{
					margin-bottom: 40px;
				    height: 136px;
				    cursor: pointer;
				}
				.prod-unit-wrapPad{
					text-align: left;
					padding: 0 15px;
				}
				.prodSize{
					text-align: center;
				}
				.cart{
					position: relative;
				    bottom: 49px;
				    left: 147px;
					background-image: url(../img/cartPass.png);
					height: 33px;
					width: 45px;
				}
					.cart:hover{
						background-image: url(../img/cartActive.png);
					}

@media all and (max-width: 980px) {
	.prod-unit {
    	display: inline;
	    float: none;
	}
	#products-blackLine{
		display: none;
	}
}

/*-------------POPULAR PRODUCTS-------------*/

#popular{
	position: relative;
	text-align: center;
    margin-top: 30px;
    height: 335px;
}
#popular hr{
	border-top: 1px solid;
	border-bottom: 1px solid;
}
	#popular>p{
		font-weight: 600;
	}

#sliderPopular .item{
  width: 207px;
  margin: 10px;
  color: #FFF;
  border: 1px solid #e5e5e5;
  text-align: center;
}
#popular .prod-unit-img{
	margin-top: 20px;
	height: 125px;
}
#popular .prod-unit-about{
	padding: 10px 5px 0px 5px;
}
.customNavigation .prev span, .customNavigation .next span{
	width: 29px;
	height: 114px;
	position: absolute;
	top: 144px;
	cursor: pointer;
}
	.customNavigation .prev span{
		background-image: url(../img/arrLeft-black.png);
		left: 0;
	}
	.customNavigation .next span{
		background-image: url(../img/arrRight-black.png);
		right: 0;
	}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media all and (max-width: 460px){
	#sliderPopular .item{
		border: none;
		width: 180px;
	}
	#popular .prod-unit-about{
		font-weight: 100;
		font-size: 12px;
		padding: 20px;
	}
}

/*---------VERTICAL MENU BLOCK------------*/

#vertMenuBlock{
	margin-top: 80px;
    display: table;
}
#vert-menu, #info-block{
	float: left;
	padding: 10px 14px;
}
	.wrap-qouteButt{
		width: 100%;
		text-align: center;
	}
	.quoteButton{
		width: 200px;
		text-align: center;
		background: #DCDCDC;
		border: 3px solid black;
		font-weight: 600;
		font-size: 17px;
  	}
		.quoteButton:hover{
			border: 3px solid black;
			background: #E6E6E6;
		}

#vert-menu{
	width: 33.333%;
    padding-right: 7%;
	/*background: #658CC6;*/
}
#info-block{
	width: 66.666%;
    text-align: justify;
	/*background: #A565C6;*/
}
.vertMenu-black{
	background: black;
	padding-left: 25%;
}
	.vertMenu-black li{
		padding: 8px 0px;
	}
	.vertMenu-black a{
		color: white;
	}
.vertMenu-black ul{
	list-style: square outside;
}

/*CENTER BANNER*/
#centerBanner{
	position: relative;
	left:0;
	width: 100%;
	margin-top: 40px;
}
/*TO UP*/
.toUp{
	height: 50px;
	position: relative;
	right: 0;
	margin: 80px auto;
	max-width: 980px;
}
	.toUp a {
		position: absolute;
		right: 15px;
		background: #F1F1F1;
	}

/*BIG FORM*/
#bigForm{
	border: 2px solid black;
	border-radius: 3px;
	padding: 20px;
	max-width: 980px;
	margin: 0 auto;
}
	#bigForm>div{
		font-weight: 600;
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
		.compAdress{
			position: relative;
    		width: 100%;
		}
			.compAdress>label:first-child{
				position: absolute;
			}
			@media all and (max-width: 980px) {
				.compAdress>label:first-child{
				position: static;
				}
			}
			.compAdress>div:nth-child(2){
				/*padding-left: 150px;*/
			}
	#bigForm .btn{
		color: white;
		text-align: center;
		background: black;
		letter-spacing: 0;
	}

/*FOOTER*/
footer{
	margin-top: 250px;
	width: 100%;
	height: 100px;

    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #dddddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f5f5 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
	#about{
	font-size: 13px;
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    top: 75px;
	}
		#about a{
			margin-right: 12px;
			margin-left: 8px;
		}

	@media all and (max-width: 980px){
		#about{
		    text-align: center;
		}
	}
/*--------------------------------------------------------*/

.red{color: red;}
.green{color: #00ae4d; margin-bottom: 18px;}
.blackSquare, .violetSquare{
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 10px 0px 10px 12px;
    vertical-align: middle;
}
.blackSquare{background: black;}
.violetSquare{background: #881F58;}

.bold{font-weight: 600;}
.big{font-size: 30px;}

.prod-unit:after, #vert-menu:after, #info-block:after{
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.center{text-align: center;}
.small{
	font-size: 10px;
	letter-spacing: -0.5px;
}
.small p{
	padding: 0;
	margin:0;
}

input[type="checkbox"]{
	height: 23px;
	width: 23px;
}
.checks{
	vertical-align: middle;
}