#loading{
	margin-left:0px; 
	z-index: 999;
	background-image:none;
}
.loadingText{font-size: 50px;}

#leftMenu{display:none;}

#topMenu{
	display:block;
	width: 100%; background: #301d12; z-index: 0;
	-webkit-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
  	-moz-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
    box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4);}

#content{margin-left:0px;width: 100%;}

.active.grid{display:block;}
.contacts{font: bold 25px Griffy, Serif;}

.item{padding-right: 0px;}


.allowHover .item img:hover {

	transition: -webkit-border-radius 0s;
	transition: -moz-border-radius 0s; 
	transition: border-radius 0s; 

	-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;

	-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
}

.column-style {
    -webkit-column-count: 1;
    -moz-column-count: 1; 
    column-count: 1;
    -webkit-column-width: auto; 
    -moz-column-width: auto; 
    column-width: auto;
}


.landscape .column-style {
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 5px; 
    -moz-column-gap: 5px; 
    column-gap: 5px;
    -webkit-column-width: auto; 
    -moz-column-width: auto; 
    column-width: auto;
}

.makeMeScrollable {height: auto;overflow-y:scroll;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}

.landscape .makeMeScrollable img{height: 300px;}

.barefaced{display:block;}
.barefaced div{float:left;padding:0px;margin:0px; }
.barefaced div img{vertical-align: bottom;
	margin-right:7px;	
	height: 400px;
	-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
}

 #imgCursorTouch {
 	background-image: url(pict/cursorTouch.png);
 	background-repeat: no-repeat;
 	position: absolute;
 	top: 90px;
 	opacity: 0;
 	
 	height: 101px;
 	width: 93px;
 	z-index: 2;

    -webkit-animation: CursorTouch 2.5s;
    -webkit-animation-delay: 1s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;  

    animation: CursorTouch 2.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
 }
/* Chrome, Safari, Opera */
@-webkit-keyframes CursorTouch {
    from {right: -93px;opacity: 0.5;}
    to {right: 120%;opacity: 1;}
}

@keyframes CursorTouch {
    from {right: -93px;opacity: 0.5;}
    to {right: 120%;opacity: 1;}
}

.barefaced div {
	padding: 0px; margin: 0px;
}